/* Reset */
* {
    box-sizing: border-box;
    /* Reset padding and margin on all elements */
    margin: 0;
    padding: 0;
}

/* Typography */

html {
    font-size: 12px;
    text-align: center;
}

body {
    font-family: 'poppins', sans-serif;
    line-height: 1.55;
    color: rgb(60, 58, 71);
    background: rgb(239, 240, 234, 1);
}

h1 {
    font-size: 3.15rem !important;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 1rem !important;
}

h2 {
    padding: 2rem 0;
}

/* Container */

.container {
    padding: 2rem 0;
    margin: 0 auto;
}

.container.form {
    width: 90%;
}

.form {
    padding: 2rem 2rem;
}

.container.form input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 1rem;
    resize: none;
}

.container.form input::placeholder {
    color: rgb(0, 0, 0);
}

.container.form input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.80);
    color: rgb(60, 58, 71);
}

.description {
    padding: 2rem 2rem;
    color: rgb(255, 255, 255);
    width: 90%;
}

.description p {
    padding-bottom: 1rem;
    font-size: 14px;
}

.description p a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(159, 118, 87);
}

.footer p a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(159, 118, 87);
}

.btn {
    width: 50%;
    padding: 1.1rem 5rem;
    margin: auto auto;
    border: 1px solid rgba(255, 255, 255, 0.80);
    border-radius: 5px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: rgb(159, 118, 87);

}

.btn:hover {
    background-image: linear-gradient(to right, rgb(0, 153, 153), rgb(0, 204, 204));
    color: rgb(60, 58, 71)
}

.muted {
    color: rgb(255, 255, 255);
    text-align: left;
    padding-top: 0.5rem;
}


/* header */
#main-header {
    padding: 0.5rem 0;
    margin: 2rem 2rem 1rem 2rem;
}

#login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(60, 58, 71), rgb(60, 118, 121));
    /*background-color: rgb(60, 58, 71);*/
    width: 60%;
    padding: 2rem 2rem;
    margin: 0rem auto;
}

#login form div {
    padding: 1rem 0rem 1.5rem 0rem;
}

.right {
    text-align: right;
}

form label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
    margin-bottom: .5rem;
    color: rgb(255, 255, 255);
}

#footer {
    padding: 10rem 0 0 0;
}


@media screen and (max-width: 1200px) {
    html {
        font-size: 10px;
        text-align: center;
    }
    #main-header {
        width: 100%;
        padding: 0 0;
        margin: 1rem 1rem;
        min-width: 600px;
    }
    h1 {
        font-size: 3rem !important;
        font-weight: 700;
        letter-spacing: .5px;
        margin-top: 1rem !important;
    }
    h2 {
        padding: 2rem 0;
    }
    .container.header {
        width: 100%;
        padding: 0 0;
        margin: 0 0;
    }
    #login {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        min-width: 600px;
    }
    .header{
        width: 50%;
    }
    .footer {
        width: 100%;
        padding: 0 0;
        margin: 1rem 1rem;
        min-width: 600px;
    }
}
