/* Reset */
* {
    box-sizing: border-box;
    /* Reset padding and margin on all elements */
    margin: 0;
    padding: 0;
}

/* Typography */

html {
    font-size: 12px;
    text-align: center;
}

body {

    font-family: 'poppins', sans-serif;
    line-height: 1.55;
    color: rgb(60,58,71);
    background: rgb(239, 240, 234, 1);
}

h1 {
    font-size: 3.15rem !important;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 1rem !important;
}

/* header */
#main-header {
    text-align: center;
    margin: 2rem auto 1rem auto;
    width: 70%;
}

#main-body {
    padding: 2rem 2rem;
    margin: 2rem auto;
    width: 60%;
    background-image: linear-gradient(to right, rgb(60, 58, 71) , rgb(60, 118, 121));
    border-radius: 10px;
}
#main-body form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

/* container */
.subject-container {
    display : grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
    padding: 1rem;
    margin-bottom: 1rem;
}
.subject-container label {
    color: white;
    margin-bottom: 0.5rem;
}
.subject-container select {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 0.3rem;
}
.container.small {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;

}
.container.small.error{
 /*margin-top: 2rem;*/
}
.right-container input {
    width: 40%;
}
.container.small input {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 1rem;
    color: rgb(255, 255, 255);
    resize: none;
    width: 40%;
}
.container.small input::placeholder {
    color: rgb(0,0,0);
}
.container.small input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.80);
    color: rgb(60,58,71);
}

.container.small input, label {
    border-radius: 5px;
    padding: 0.5rem;
}

.input-container label {
    color: white;
}

.btn {
    padding: 0.2rem 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.80);
    border-radius: 5px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: rgb(159, 118, 87);
    width: 40%;
    height: 3rem;
}
.btn:hover {
    background-image: linear-gradient(to right, rgb(0,153,153) , rgb(0, 204, 204));
    color: rgb(60, 58, 71)
}
.muted {
    padding: 1rem 0rem;
    text-align: left;
    color: white;
}
@media screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
    #main-header {
        padding: 0 0;
        width: 100%;
    }
    h1 {
        font-size: 2rem !important;
        font-weight: 700;
        letter-spacing: .5px;
        margin-top: 1rem !important;
    }
    #main-body {
        width: 100%;
        padding: 0 0;
        margin: 1rem 0;
        min-width: 600px;
    }
    #main-body form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;

    }
}